In [27]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

['.ipynb_checkpoints', 'imbd-sf']

In [61]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(15)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015
5,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015
6,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,2598,5.8,2015
7,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,4572,7.6,2015
8,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,2893,6.5,2015
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015
10,tt2379713,6.200282,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,Sam Mendes,A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,10/26/2015,3254,6.2,2015
11,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,1937,5.2,2015
12,tt0470752,6.118847,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,Alex Garland,There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,1/21/2015,2854,7.6,2015
13,tt2120120,5.984995,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,1575,5.8,2015
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,4304,7.4,2015

In [62]:
len(data)
def max_search(search_dict):
    max_is_set = False
    for key in search_dict:
        if max_is_set == False:
            max_key = key
            max_value = search_dict[key]
            max_is_set = True
        if search_dict[key] > max_value:
            max_value = search_dict[key]
            max_key = key
    return (max_value, max_key)

# Предобработка датасета

In [63]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [65]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
data[data['budget'] == data['budget'].max()]
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [67]:
data[data['runtime'] == data['runtime'].max()]
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [69]:
data[data['runtime'] == data['runtime'].min()]
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [71]:
data['runtime'].mean()
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [73]:
data['runtime'].describe()
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [75]:
data['profit']=data['revenue']-data['budget']
data[data['profit'] == data['profit'].max()]
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [77]:
data[data['profit'] == data['profit'].min()]
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [79]:
data[data['profit']> 0].count()
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [81]:
data_2008 = data[data['release_year'] == 2008]
data_2008[data_2008['profit'] == data_2008['profit'].max()]
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [83]:
data_12_14 = data.query('2012<=release_year<=2014')
data_12_14[data_12_14['profit'] == data_12_14['profit'].min()]
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [86]:
genres = data['genres']
genres_dict = {}
for i in range(0,len(genres),1):
    film_genres = genres.loc[i].split('|')
    for every_genres in film_genres:
        if every_genres in genres_dict:
            genres_dict[every_genres] += 1
        else:
            genres_dict[every_genres] = 1

max_search(genres_dict)    
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [89]:
data_profit = data[data['profit']> 0].reset_index()
genres = data_profit['genres']
genres_dict = {}
for i in range(0,len(genres),1):
    film_genres = genres.loc[i].split('|')
    for every_genres in film_genres:
        if every_genres in genres_dict:
            genres_dict[every_genres] += 1
        else:
            genres_dict[every_genres] = 1
max_search(genres_dict)
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [92]:
dirs_dict = {}
for i in range(0,len(data),1):
    film_dir = data['director'].loc[i].split('|')
    for every_dir in film_dir:
        if every_dir in dirs_dict:
            dirs_dict[every_dir] += 1
        else:
            dirs_dict[every_dir] = 1
max_search(dirs_dict)
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [95]:
data['profit']=data['revenue']-data['budget']
data_profit = data[data['profit']> 0].reset_index()
dirs_dict = {}
for i in range(0,len(data_profit),1):
    film_dir = data_profit['director'].loc[i].split('|')
    for every_dir in film_dir:
        if every_dir in dirs_dict:
            dirs_dict[every_dir] += 1
        else:
            dirs_dict[every_dir] = 1
max_search (dirs_dict)
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [97]:
dirs = data['director']
dirs_dict = {}
for i in range(0,len(data),1):
    film_dir = data['director'].loc[i].split('|')
    film_profit = data['profit'].loc[i]
    for every_dir in film_dir:
        if every_dir in dirs_dict:
            dirs_dict[every_dir] += film_profit
        else:
            dirs_dict[every_dir] = film_profit
max_search(dirs_dict)  
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [99]:
casts = data['cast']
cast_dict = {}
for i in range(0,len(data),1):
    film_casts = data['cast'].loc[i].split('|')
    film_profit = data['profit'].loc[i]
    for every_cast in film_casts:
        if every_cast in cast_dict:
            cast_dict[every_cast] += film_profit
        else:
            cast_dict[every_cast] = film_profit
max_search(cast_dict)
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [100]:
data_12 = data[data['release_year'] == 2012].reset_index()
casts = data_12['cast']
cast_dict = {}
for i in range(0,len(data_12),1):
    film_casts = data_12['cast'].loc[i].split('|')
    film_profit = data_12['profit'].loc[i]
    for every_cast in film_casts:
        if every_cast in cast_dict:
            cast_dict[every_cast] += film_profit
        else:
            cast_dict[every_cast] = film_profit
min_profit = data_12['profit'].sum()
profit_cast = ''
for key in cast_dict:
    if cast_dict[key] < min_profit:
        min_profit = cast_dict[key]
        profit_cast = key  

print (min_profit, profit_cast) 
answer_ls.append(3)

-68109207 Kirsten Dunst

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [102]:
mean_budget = data['budget'].mean()
data_mean_budget = data[data['budget']> mean_budget].reset_index()
cast_dict = {}
for i in range(0,len(data_mean_budget),1):
    film_casts = data_mean_budget['cast'].loc[i].split('|')
    for every_cast in film_casts:
        if every_cast in cast_dict:
            cast_dict[every_cast] += 1
        else:
            cast_dict[every_cast] = 1
max_search(cast_dict)
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [104]:
data_NC = data[data['cast'].str.contains("Nicolas Cage")].reset_index()
genres = data_NC['genres']
genres_dict = {}
for i in range(0,len(genres),1):
    film_genres = genres.loc[i].split('|')
    for every_genres in film_genres:
        if every_genres in genres_dict:
            genres_dict[every_genres] += 1
        else:
            genres_dict[every_genres] = 1
max_search(genres_dict)
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [106]:
pc = data['production_companies']
pc_dict = {}
for i in range(0,len(pc),1):
    film_pc = pc.loc[i].split('|')
    for every_pc in film_pc:
        if every_pc in pc_dict:
            pc_dict[every_pc] += 1
        else:
            pc_dict[every_pc] = 1
max_search(pc_dict)
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [108]:
data_15 = data[data['release_year']==2015].reset_index()
pc = data_15['production_companies']
pc_dict = {}
for i in range(0,len(pc),1):
    film_pc = pc.loc[i].split('|')
    for every_pc in film_pc:
        if every_pc in pc_dict:
            pc_dict[every_pc] += 1
        else:
            pc_dict[every_pc] = 1
max_search(pc_dict)
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [110]:
data['profit']=data['revenue']-data['budget']
data_comedy = data[data['genres'].str.contains("Comedy")].reset_index()
pc_dict = {}
for i in range(0,len(data_comedy),1):
    film_pc = data_comedy['production_companies'].loc[i].split('|')
    film_profit = data_comedy['profit'].loc[i]
    for every_pc in film_pc:
        if every_pc in pc_dict:
            pc_dict[every_pc] += film_profit
        else:
            pc_dict[every_pc] = film_profit
max_search(pc_dict) 
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [113]:
data_12 = data[data['release_year'] == 2012].reset_index()
pc_dict = {}
for i in range(0,len(data_12),1):
    film_pc = data_12['production_companies'].loc[i].split('|')
    film_profit = data_12['profit'].loc[i]
    for every_pc in film_pc:
        if every_pc in pc_dict:
            pc_dict[every_pc] += film_profit
        else:
            pc_dict[every_pc] = film_profit
max_search(pc_dict)
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [115]:
data_PP = data[data['production_companies'].str.contains('Paramount Pictures')].reset_index()
min_profit = data_PP['profit'].min()
data_PP[data_PP['profit'] == min_profit]
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [117]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [119]:
data_WB = data[data['production_companies'].str.contains('Warner Bros')].reset_index()
data_WB.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [122]:
data['release_month'] = 9999
for i in range(0, len(data),1):
    data['release_month'].loc[i] = int(data['release_date'].loc[i].split('/')[0])
data.groupby(['release_month'])['original_title'].count().sort_values(ascending = False)
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [124]:
data.query('release_month in [6,7,8]')['original_title'].count()
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [126]:
winter_film = data.query('release_month in [12,1,2]').reset_index()
dirs_dict = {}
for i in range(0,len(winter_film),1):
    film_dir = winter_film['director'].loc[i].split('|')
    for every_dir in film_dir:
        if every_dir in dirs_dict:
            dirs_dict[every_dir] += 1
        else:
            dirs_dict[every_dir] = 1
max_search(dirs_dict)
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
#Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [129]:
month_profit = data.pivot_table(values = 'profit', index = 'release_month', columns = 'release_year', aggfunc = 'sum')
month_profit.idxmax().value_counts()
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [132]:
data['simbol_count'] = data.original_title.str.len()
pc_dict = {}
for i in range(0,len(data),1):
    film_pc = data['production_companies'].loc[i].split('|')
    for every_pc in film_pc:
        pc_dict[every_pc] =0
for pc in pc_dict:
    pc_dict[pc] = data[data['production_companies'].str.contains(pc)].simbol_count.mean()

max_search(pc_dict)
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [134]:
data['simbol_w_count'] = data.original_title.str.split(' ')
data['w_count'] = 9999
pc_dict = {}
for i in range(0,len(data),1):
    film_pc = data['production_companies'].loc[i].split('|')
    data['w_count'].loc[i] = len(data.simbol_w_count.loc[i])
    for every_pc in film_pc:
        pc_dict[every_pc] =0
for pc in pc_dict:
    pc_dict[pc] = data[data['production_companies'].str.contains(pc)].w_count.mean()

max_search(pc_dict)
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [137]:
#data['word_list'] = data.original_title.str.lower().str.replace('  ', ' ').str.replace(' - ', ' ').str.replace("'", ' ').str.replace('1', '').str.replace('2', '').str.replace('3', '').str.replace('4', '').str.replace('5', '').str.replace('6', '').str.replace('7', '').str.replace('8', '').str.replace('9', '').str.replace('0', '').str.replace('!', '').str.replace('/', ' ').str.replace(':', '').str.replace(';', '').str.replace('.', '').str.replace(',', '').str.replace('(', '').str.replace(')', '').str.split(' ')
data['word_list'] = data.original_title.str.lower().str.replace('  ', ' ').str.split(' ')
word_list = []
for i in range(0,len(data)):
    film_word_list = data['word_list'].loc[i] 
    for word in film_word_list:
        if word not in word_list:
            word_list.append(word)
print (len(word_list))
answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [138]:
procent_1 = data['vote_average'].count()/100
data.sort_values(['vote_average'], ascending=False).head(19)
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [139]:
from itertools import combinations
actors_pair = {}
for actor in data.cast:
    for x in combinations(actor.split('|'), 2):
        sort_x = str(sorted(x))
        if sort_x in actors_pair:
            actors_pair[sort_x] +=1
        else:
            actors_pair[sort_x] =1
max_search(actors_pair)
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
#answer_ls.append(1)

# Submission

In [140]:
len(answer_ls)

35

In [141]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5